@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scrollbar-gutter: stable;
}

body {
  height: 100%;
  max-width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:focus-visible {
  outline: none;
}

.hero-bg {
  background-image: url("/images/hero/hero-mob.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 480px) {
    background-image: url("/images/hero/hero-480.jpg");
  }
  @media (min-width: 640px) {
    background-image: url("/images/hero/hero-640.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("/images/hero/hero-768.jpg");
  }
  @media (min-width: 1024px) {
    background-image: url("/images/hero/hero-desk.jpg");
  }
}

.models-bg {
  background: linear-gradient(180deg, #000 0%, #191a1d 67.04%);
  @media (min-width: 1366px) {
    background-image: url("/images/models/models-bg-desk.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }
}
.models-bg_mob {
  background-image: url("/images/models/models-480.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 640px) {
    background-image: url("/images/models/models-640.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("/images/models/models-768.jpg");
  }
}

.contacts-bg_first {
  background-image: url("/images/top-contacts/contact-mob1.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 480px) {
    background-image: url("/images/top-contacts/contact-480.jpg");
  }
  @media (min-width: 640px) {
    background-image: url("/images/top-contacts/contact-640.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("/images/top-contacts/contact-768.jpg");
  }
  @media (min-width: 1024px) {
    background-image: url("/images/top-contacts/contact-desk1.jpg");
  }
}

.contacts-bg_second {
  background-image: url("/images/bot-contacts/contact-mob2.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  @media (min-width: 480px) {
    background-image: url("/images/bot-contacts/bg-480.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("/images/bot-contacts/bg-768.jpg");
  }
  @media (min-width: 1024px) {
    background-image: url("/images/bot-contacts/contact-desk2.jpg");
  }
}

.radar-bg_hero {
  background-image: url("/images/radar-page/bg-mob.jpg");
  background-size: 100% 100%;
  background-position: top;

  background-repeat: no-repeat;
  @media (min-width: 480px) {
    background-image: url("/images/radar-page/bg-480.jpg");
  }
  @media (min-width: 640px) {
    background-image: url("/images/radar-page/bg-640.jpg");
  }
  @media (min-width: 768px) {
    background-image: url("/images/radar-page/bg-768.jpg");
  }
  @media (min-width: 1024px) {
    background-image: url("/images/radar-page/bg-desk.jpg");
  }
}
@layer utilities {
  .logo {
    @apply text-[14px] font-bold leading-normal tracking-[7px] uppercase xl:text-[20px];
  }

  .btn-primary {
    @apply px-4 rounded-[4px]  text-[14px] leading-[20px];
    @apply hover:bg-opacity-90 hover:shadow-lg;
    @apply active:scale-95 active:shadow-[inset_0_2px_4px_rgba(0,0,0,0.3)];
    @apply transition-all duration-200;
  }

  .btn-shadow {
    @apply shadow-[inset_0_-3px_4px_rgba(255,255,255,0.22),inset_0_4px_7.4px_rgba(0,0,0,0.25)];
  }
}
